
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.division {
    margin: 16px 0;
}

input {
    text-decoration: none;
}

.movieCreationContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

button {
    all: unset;
    background-color: #2c3e50;
    color: #f2f2f2;
    border-radius: 4px;
    padding: 2px 4px;
}

button:hover {
    cursor: pointer;
}

.moviesContainer {
    display: flex;
    flex-flow: row wrap;
}

.movieBox {
    border: 1px solid;
    width: 240px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
}

input {
    all: unset;
    border: 1px solid;
    border-radius: 4px;
    padding: 0 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}